body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f5f2;
    background-image: url(./coffee\ background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#order-section {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button#calculate-btn {
    background-color: #006341;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 20px;
}

button#calculate-btn:hover {
    background-color: #004225;
}

#total-price {
    color: #4E342E;
    font-weight: bold;
    font-size: 2rem;
}
